@{
	ViewBag.Title = "Home Page";
}

<input id="addP0" type="text" value="40" />
<input id="addP1" type="text" value="2" />
<input id="sendRequest" class="btn" type="button" value="Add" />
<span id="response" />

<p><input id="fileName" type="text" value="Newtonsoft.Json.xml" /><input id="getFile" type="button" value="Get File" /></p>

@section scripts{
	<script src="~/Scripts/jquery.fileDownload.js"></script>
	<script src="~/Scripts/App/App.js"></script>
}